* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 420px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 1160px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.headerBckg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@media only screen and (max-width: 1100px) {
  header {
    background-color: rgb(252, 242, 235);
  }
}

@media only screen and (max-width: 420px) {
  .headerBckg {
    display: none;
  }
}
@media only screen and (max-width: 1100px) {
  .headerBckg {
    display: none;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
  align-items: center;
  font-family: "Roboto";
}
.navbar__left {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 22px;
}
.navbar__middle {
  font-size: 16px;
  width: 100%;
  max-width: 394px;
  display: flex;
  justify-content: space-between;
  margin-left: 59px;
}
@media only screen and (max-width: 420px) {
  .navbar__middle {
    display: none;
  }
}
.navbar__middle-link {
  color: #170C04;
  text-decoration: none;
}
.navbar__middle-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}
.navbar__middle-link:hover::after {
  width: 100%;
}
.navbar__right {
  width: 100%;
  max-width: 138px;
  display: flex;
  justify-content: space-between;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .hero {
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 420px) {
  .hero {
    display: block;
  }
}
.hero__left-title {
  font-size: 100px;
  font-weight: 800;
  margin-top: 148px;
  width: 100%;
  max-width: 600px;
  line-height: 120px;
}
@media only screen and (max-width: 800px) {
  .hero__left-title {
    margin-top: 50px;
    font-size: 80px;
  }
}
@media only screen and (max-width: 420px) {
  .hero__left-title {
    font-size: 32px;
    margin-top: 20px;
    text-align: center;
    line-height: unset;
  }
}
.hero__left-buttons {
  font-family: "Roboto";
}
@media only screen and (max-width: 420px) {
  .hero__left-buttons {
    display: flex;
    margin-top: 20px;
  }
}
.hero__left-buttons-button {
  color: #E27B3A;
  font-size: 16px;
  padding: 14px 30px;
  border-radius: 24px;
  background: none;
  margin-top: 50px;
  border: 1px solid rgba(226, 123, 58, 0.2);
  cursor: pointer;
  margin-right: 15px;
  transition: all 0.3s;
}
.hero__left-buttons-button:hover {
  background-color: #E27B3A;
  color: #fff;
}
@media only screen and (max-width: 800px) {
  .hero__left-buttons-button:hover {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 420px) {
  .hero__left-buttons-button:hover {
    background-color: unset;
    color: #E27B3A;
  }
}
@media only screen and (max-width: 420px) {
  .hero__left-buttons-button {
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 0;
    margin-right: 0;
    margin: 0 auto;
  }
}
.quality {
  display: flex;
  margin-top: 296px;
  justify-content: space-between;
  margin-bottom: 113px;
}
@media only screen and (max-width: 800px) {
  .quality {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 420px) {
  .quality {
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 40px;
  }
}
.quality__card {
  text-align: center;
  max-width: 360px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.093);
  padding-bottom: 17px;
  transition: all 0.3s;
}
@media only screen and (max-width: 420px) {
  .quality__card {
    margin-top: 30px;
  }
}
.quality__card:hover {
  box-shadow: rgba(226, 123, 58, 0.2) 0px 7px 29px 0px;
  border: 1px solid transparent;
}
.quality__card img {
  margin-top: -50%;
}
@media only screen and (max-width: 420px) {
  .quality__card img {
    height: 40px;
  }
}
.quality__card-title {
  font-size: 25px;
  color: #000;
  padding: 14px 35px;
  line-height: 38px;
}
.quality__card-subtitle {
  color: rgba(23, 12, 4, 0.6901960784);
  font-size: 16px;
  padding: 0 25px;
  margin-bottom: 24px;
  line-height: 22px;
  font-family: "Roboto";
}
.quality__card-link {
  color: #E27B3A;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto";
}

.popular {
  margin-top: 130px;
}
@media only screen and (max-width: 420px) {
  .popular {
    margin-top: 20px;
  }
}
.popular__upper {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.popular__upper-title {
  font-size: 32.25px;
  font-weight: 600;
  color: #170C04;
  margin-top: -11px;
}
@media only screen and (max-width: 420px) {
  .popular__upper-title {
    font-size: 25px;
  }
}
.popular__upper-subtitle {
  font-size: 16px;
  color: rgba(23, 12, 4, 0.6901960784);
  margin-top: 11px;
  margin-bottom: 40px;
  line-height: 24px;
  font-family: "Roboto";
}
@media only screen and (max-width: 420px) {
  .popular__upper-subtitle {
    margin-bottom: 20px;
  }
}
.popular__middle {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 62px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 800px) {
  .popular__middle {
    justify-content: center;
  }
}
@media only screen and (max-width: 420px) {
  .popular__middle {
    justify-content: center;
    margin-bottom: 20px;
  }
  .popular__middle img {
    height: 250px;
    margin-top: 10px;
  }
}
.popular__middle p {
  font-size: 25px;
  margin-top: 21px;
  margin-bottom: 7px;
}
@media only screen and (max-width: 420px) {
  .popular__middle p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0px;
  }
}
.popular__middle a {
  color: #E27B3A;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto";
}
.popular__lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 800px) {
  .popular__lower {
    justify-content: center;
  }
}
@media only screen and (max-width: 420px) {
  .popular__lower {
    justify-content: center;
  }
  .popular__lower img {
    margin-top: 20px;
    height: 250px;
  }
}
.popular__lower p {
  font-size: 20px;
  color: #170C04;
  font-weight: 600;
  margin-top: 17px;
  margin-bottom: 5px;
}
.popular__lower a {
  color: #E27B3A;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto";
}
.popular .popular_button {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.popular__btn {
  color: #E27B3A;
  font-size: 16px;
  padding: 12px 30px;
  border-radius: 4px;
  background: none;
  text-align: center;
  font-family: "Roboto";
  border: 1px solid rgba(226, 123, 58, 0.2);
  cursor: pointer;
  margin-right: 20px;
  transition: all 0.3s;
}
.popular__btn:hover {
  background-color: #E27B3A;
  color: #fff;
}

.care {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
@media only screen and (max-width: 1000px) {
  .care {
    flex-direction: column;
  }
}
@media only screen and (max-width: 420px) {
  .care {
    flex-direction: column;
    margin-top: 40px;
  }
  .care .careBtn {
    display: flex;
    font-size: 12px;
    margin-bottom: 20px;
  }
}
.care__left img {
  margin-left: -107px;
}
@media only screen and (max-width: 800px) {
  .care__left img {
    height: 500px;
    margin-left: unset;
  }
}
@media only screen and (max-width: 420px) {
  .care__left img {
    margin-left: unset;
    height: 250px;
  }
}
.care__right {
  margin-top: 7px;
  margin-left: 16px;
}
.care__right-name {
  font-family: "Roboto";
  font-size: 16px;
  color: #E27B3A;
  letter-spacing: 3px;
  margin-top: 22px;
}
.care__right-title {
  font-size: 32.25px;
  color: #170C04;
  text-align: left;
  line-height: 45px;
  font-weight: 600;
  margin-bottom: 14px;
  margin-top: 5px;
}
.care__right-subtitle {
  font-family: "Roboto";
  font-size: 16px;
  color: rgba(23, 12, 4, 0.6901960784);
  line-height: 24px;
}
.care__right-btn {
  color: #E27B3A;
  font-size: 16px;
  padding: 12px 30px;
  border-radius: 4px;
  background: none;
  text-align: center;
  font-family: "Roboto";
  border: 1px solid rgba(226, 123, 58, 0.2);
  cursor: pointer;
  margin-right: 20px;
  transition: all 0.3s;
  border-radius: 24px;
  margin-top: 40px;
}
.care__right-btn:hover {
  background-color: #E27B3A;
  color: #fff;
}
@media only screen and (max-width: 800px) {
  .care__right-btn {
    display: flex;
    justify-content: center;
  }
}

.subscribe {
  margin-top: 76px;
}
@media only screen and (max-width: 420px) {
  .subscribe {
    display: none;
  }
}
.subscribe__upper {
  text-align: center;
  font-size: 32.25px;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  font-weight: 600;
}
.subscribe__middle {
  display: flex;
  margin-top: 35px;
  justify-content: center;
}
@media only screen and (max-width: 800px) {
  .subscribe__middle {
    flex-direction: column;
  }
}
.subscribe__middle .subscribeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__middle .subscribeCard__title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  max-width: 360px;
  width: 100%;
  margin-top: 50px;
}
.subscribe__middle .subscribeCard__subtitle {
  color: rgba(23, 12, 4, 0.6901960784);
  font-family: "Roboto";
  font-size: 16px;
  max-width: 358px;
  width: 100%;
  text-align: center;
  margin-top: 12px;
}
.subscribe__middle .subscribeCard__link {
  color: #E27B3A;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto";
  margin-top: 23px;
}
@media only screen and (max-width: 800px) {
  .subscribe__middle .subscribeCard__link {
    margin-bottom: 20px;
  }
}
.subscribe__lower {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 800px) {
  .subscribe__lower {
    margin-bottom: 20px;
  }
}
.subscribe__lower button {
  color: #E27B3A;
  font-size: 16px;
  padding: 12px 30px;
  border-radius: 4px;
  background: none;
  text-align: center;
  font-family: "Roboto";
  border: 1px solid rgba(226, 123, 58, 0.2);
  cursor: pointer;
  margin-right: 20px;
  transition: all 0.3s;
  border-radius: 24px;
  margin-top: 47px;
}
.subscribe__lower button:hover {
  background-color: #E27B3A;
  color: #fff;
}

.gallery {
  display: flex;
  margin-top: 130px;
  margin-bottom: 120px;
}
@media only screen and (max-width: 420px) {
  .gallery {
    flex-direction: column;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 1130px) {
  .gallery {
    display: none;
  }
}
.gallery .galleryTitle {
  font-size: 32.25px;
  font-weight: 600;
  color: #170C04;
  text-align: center;
}
.gallery .gallerySubtitle {
  font-family: "Roboto";
  font-size: 16px;
  color: rgba(23, 12, 4, 0.6901960784);
  text-align: center;
  padding-bottom: 26px;
  padding-top: 12px;
}
.gallery__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 31px;
}
@media only screen and (max-width: 420px) {
  .gallery__left {
    margin-right: 0;
  }
}
.gallery__left-middle {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 420px) {
  .gallery__left-middle {
    flex-direction: column;
  }
  .gallery__left-middle img {
    margin-bottom: 20px;
  }
}
.gallery__left-lower {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 420px) {
  .gallery__left-lower {
    flex-direction: column;
  }
}
@media only screen and (max-width: 420px) {
  .gallery__right img {
    display: none;
  }
}

.reviewSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviewSection .reviewTitle {
  font-size: 32.25px;
  color: #170C04;
  text-align: center;
  font-weight: 600;
}
@media only screen and (max-width: 420px) {
  .reviewSection .reviewTitle {
    font-size: 26px;
  }
}
.reviewSection .review__card {
  background-image: url(../img/stack.png);
  background-size: cover;
  max-width: 555px;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  margin-bottom: 86px;
}
@media only screen and (max-width: 420px) {
  .reviewSection .review__card {
    margin-bottom: 20px;
  }
}
.reviewSection .review__card-text {
  color: rgba(23, 12, 4, 0.6901960784);
  font-family: "Roboto";
  font-size: 16px;
  text-align: center;
  padding-left: 60px;
  padding-right: 30px;
  padding-bottom: 15px;
}
@media only screen and (max-width: 420px) {
  .reviewSection .review__card-text {
    font-size: 12px;
  }
}
.reviewSection .review__card-name {
  font-family: "Roboto";
  font-size: 16px;
  color: #170C04;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 600;
}
@media only screen and (max-width: 420px) {
  .reviewSection .review__card-name {
    font-size: 12px;
  }
}
.reviewSection .review__card-spec {
  font-size: 12px;
  color: rgba(23, 12, 4, 0.6901960784);
  text-align: center;
}
@media only screen and (max-width: 420px) {
  .reviewSection .review__card-spec {
    font-size: 8px;
  }
}

.feedback {
  background-image: url(../img/blueBckg.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 102px 70px;
  justify-content: space-evenly;
}
@media only screen and (max-width: 900px) {
  .feedback {
    flex-direction: column;
    padding: 60px 70px;
  }
}
@media only screen and (max-width: 420px) {
  .feedback {
    flex-direction: column;
    background-image: none;
    background-color: rgb(46, 150, 255);
    padding: 50px 20px;
  }
}
.feedback__left {
  max-width: 423px;
  width: 100%;
}
.feedback__left-title {
  text-align: left;
  color: #fff;
  font-size: 31.25px;
}
@media only screen and (max-width: 420px) {
  .feedback__left-title {
    font-size: 24px;
  }
}
.feedback__left-subtitle {
  text-align: left;
  color: rgba(255, 255, 255, 0.507);
  font-size: 16px;
  font-family: "Roboto";
  padding-top: 18px;
}
@media only screen and (max-width: 420px) {
  .feedback__left-subtitle {
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 800px) {
  .feedback__right {
    margin-top: 20px;
  }
}
.feedback__right input {
  border: none;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 21px;
}
@media only screen and (max-width: 420px) {
  .feedback__right input {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.feedback__right button {
  font-size: 18px;
  font-family: "Roboto";
  border: none;
  padding-top: 17px;
  padding-bottom: 19px;
  padding-right: 32px;
  padding-left: 32px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #E27B3A;
  color: #fff;
  cursor: pointer;
}
@media only screen and (max-width: 420px) {
  .feedback__right button {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

footer {
  background-image: url(../img/footer.png);
  padding-top: 117px;
  background-position: center;
  margin-top: 55px;
  background-size: cover;
}
@media only screen and (max-width: 800px) {
  footer {
    background-image: none;
    background-color: rgb(20, 10, 3);
  }
}
@media only screen and (max-width: 420px) {
  footer {
    background-image: none;
    background-color: rgb(20, 10, 3);
    margin-top: 0;
    padding-top: 20px;
  }
}
footer .footer {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: "Roboto";
  align-items: flex-start;
  padding-bottom: 80px;
  padding-top: 10px;
}
@media only screen and (max-width: 800px) {
  footer .footer {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 420px) {
  footer .footer {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
  }
}
footer .footer .footer_links {
  max-width: 170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .footer a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 37px;
}
footer .footer span {
  color: #E27B3A;
}
footer .footer__left {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 420px) {
  footer .footer__left {
    text-align: center;
  }
}
footer .footer__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer__middle-img {
  margin-top: -69px;
}
@media only screen and (max-width: 420px) {
  footer .footer__middle-img {
    margin-top: 0;
  }
}
footer .footer__middle p {
  font-size: 26px;
  padding-bottom: 65px;
  padding-top: 12px;
}
@media only screen and (max-width: 420px) {
  footer .footer__middle p {
    padding-bottom: 20px;
  }
}
footer .footer__right {
  display: flex;
  flex-direction: column;
  max-width: 293px;
  width: 100%;
  text-align: end;
}
@media only screen and (max-width: 420px) {
  footer .footer__right {
    display: none;
  }
}